<!doctype html>
<html lang="en" class="h-100" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>ShuttleQ</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <meta name="theme-color" content="#712cf9" />
    <link href="/static/cover.css" rel="stylesheet" />
</head>

<body class="d-flex h-100 text-bg-dark">

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">ShuttleQ</h3>
            </div>
        </header>

        <main class="px-3 text-center">
            <h2 class="text-body-emphasis">names game, james name</h1>
            <h1 class="text-body-emphasis">Just imagine this is the score okay thank you</h1>

        </main>


        <footer class="mt-auto text-white-50">
            <p>
                ShuttleQ
            </p>
        </footer>
    </div>
    <script src="/static/bootstrap.bundle.min.js" class="astro-vvvwv3sm"></script>
    <script src="/static/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io({
            auth: {
                "authpass":"",
                "room":"",
                "type":"display"
            }
        });
    </script>
</body>

</html>